.header {
    //position: fixed;
    //top: 0;
    //left: 0;
    //width: 100%;
    //z-index: 100;

    border: 1px solid var(--header-border);
    border-top: none;
    border-left: none;
    border-right: none;

    @media screen and (max-width: 767px) {      
    padding-top: 16px;
    padding-bottom: 16px;
    }

    &__container {
        display: flex;
        align-items: center;
    }     
}

.header.no-transparency {
    background-color: rgba(105, 165, 233, 0.5);
    backdrop-filter: blur(4px);
}