@import './decimals';

@mixin section ($padding: 60px) {
  padding-top: $padding;
  padding-bottom: $padding;


  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

@mixin centerdf($type) {
  display: $type;
  align-items: center;
  justify-content: center;
}

@mixin df($type) {
  display: $type;
}


@mixin fonts($fs, $lh, $fw: 400, $ls: 0.02em) {
  font-weight: $fw;
  font-size: $fs;
  line-height: decimal-round($lh / $fs);
  letter-spacing: $ls;
}

@mixin centeredflex($type: flex){
    display: $type;
    align-items: center;
    justify-content: center;
}
